name: Sync Tag to PTI-Clima Organization
on:
  push:
    tags:
      - "**"

jobs:
  sync-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror repo manually
        env:
          ORG_PAT: ${{ secrets.ORG_PAT }}
          DEST_PAT: ${{ secrets.DEST_PAT }}
          DEST_ORG: "PTI-Clima"
          BRANCH: "main"
        run: |
          OWNER_NAME=${{ github.repository_owner }}
          REPO_NAME=${GITHUB_REPOSITORY#*/}
          TAG_NAME=${GITHUB_REF#refs/tags/}

          if [[ "$GITHUB_REPOSITORY" == "${DEST_ORG}/${REPO_NAME}" ]]; then
            echo "This is the destination repository. Ending workflow."
            exit 0
          fi

          git clone "https://oauth2:${ORG_PAT}@github.com/${OWNER_NAME}/${REPO_NAME}.git"
          cd $REPO_NAME
          git push "https://oauth2:${DEST_PAT}@github.com/${DEST_ORG}/${REPO_NAME}.git" $BRANCH
          git push "https://oauth2:${DEST_PAT}@github.com/${DEST_ORG}/${REPO_NAME}.git" refs/tags/$TAG_NAME